/* styles.css */

body {
    background-image: url("https://dgssama.github.io/RentAMed/Imagenes/Fondodeprueba.jpg"); /* Cambia esta URL por la dirección de tu imagen */
    background-size: cover; /* Ajusta la imagen al tamaño del fondo */
    background-position: center; /* Centra la imagen */
    color: #FFD700; /* Color de texto dorado */
    font-family: 'Playfair Display', serif; /* Fuente */
    margin: 0;
}

.header-banner {
    background-color: #800080; /* Morado */
    color: #FFD700; /* Dorado */
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: #FFD700; /* Dorado */
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin: 0 15px;
}

.nav-list a {
    color: #FFD700; /* Dorado */
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
    color: #fff; /* Cambia a blanco al pasar el cursor */
}

main {
    padding: 20px;
}

.services-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    margin: 10px;
    text-align: center;
}

.service-image {
    width: 200px; /* Tamaño de las imágenes */
    height: auto;
    border: 2px solid #800080; /* Borde morado */
}

footer {
    background-color: #800080; /* Morado */
    color: #FFD700; /* Dorado */
    text-align: center;
    padding: 10px 0;
}
