/* styles.css */

body {
    font-family: 'Playfair Display', serif;
    background-color: #f4f4f4; /* Color de fondo claro */
    margin: 0;
}

.header-banner {
    background-color: #800080; /* Morado */
    color: #FFD700; /* Dorado */
    padding: 20px;
    text-align: center;
}

h1, h2, h3 { /* Aplica a todos los encabezados h1, h2 y h3 */
    color: #FFD700; /* Dorado */
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin: 0 15px;
}

.nav-list a {
    color: #FFD700; /* Dorado */
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
    color: #fff; /* Cambia a blanco al pasar el cursor */
}

main {
    padding: 20px;
}

.services-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    margin: 10px;
    text-align: center;
}

.service-image {
    width: 200px; /* Tamaño de las imágenes */
    height: auto;
    border: 2px solid #800080; /* Borde morado */
}

footer {
    background-color: #800080; /* Morado */
    color: #FFD700; /* Dorado */
    text-align: center;
    padding: 10px 0;
}
